@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.imageGalleryHeight .image-gallery-slide .image-gallery-image {
  max-height: 500px !important;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}
.image-gallery-thumbnail {
  width: 90px
}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}